.TodoInsert{
    display: flex;
    background-color: #495057;
    input{
        background: none;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.125ren;
        line-height: 1.5;
        color: white;
        &::placeholder{
            color: #dee2e6;
        }
        flex: 1;
    };
    button{
        background: none;
        border : none;
        outline: none;
        background: #868296;
        color:white;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background ease-in;
        &:hover{
            background:#adb5bd;
        }
    }
}